.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-cover{
    object-fit: cover;
}
.text-hide{
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
}
.code-text{
    color: $color-primary;
    background-color: $color-gray-100;
}
.mh-100vh{
    min-height: 100vh;
}