
.header{
   &__logo{
    background-image: url('../images/logo-ANSWER.svg');
    width: 151px;
    height: 40px;
   }
   &__link{
      position: relative;
   }
   &__link::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 4px;
      background-color: $color-primary;
      display: none;
   }
   &__link:hover{
       background-color: $color-gray-400;
   }
   &__link.active{
      color: $color-primary;
   }
    &__link.active::before{
        display: block;
    }
    &__user .image{
       width: 40px;
       height: 40px;
       border-radius: 50%;
    }
}