
.assignments{
    &__list{
        width: 34.782%;
    }
    &__content{
        width: 63.478%;    
    }
    &__content .content{
        border: 1px solid $color-gray-400;
    }
    .content__header{
        position: relative;
        border-bottom: 1px solid $color-gray-400;
    }
    .content__header .icon{
        position: absolute;
        right: 1rem;
        top: 1.25rem;
    }
    .content__body{
        padding: 1rem 2rem 22px 1rem;
    }
    .content__body .text{
        width: 92.424%;
    }
    .content__item{
        position: relative;
    }
    .content__item:first-of-type{
        & .text{
            border-bottom: 1px solid $color-gray-400;
        }
    }
    .content__item .icons{
        position: absolute;
        top: 0;
        right: 0;
    }
    .content__image{
       @include size(40px,40px,50%);
    }
    .content__list li{
        text-indent: 1em;
    }
    .content__item .reply-area{
        position: absolute;
        top: 0;
        left: -1rem;
        right: -2.1rem;
        bottom: -5rem;
        background-color: $color-light;
        transform: scale(0);
        transform-origin: bottom right;
        transition: transform .3s ease-in;
        &.active{
           transform: scale(1); 
        }
        .tool-bar{
            padding: 18px 25px;
        }
        textarea{
            width: 100%;
        }
    }
}