$display-types: (
    flex,
    inline-flex,
    block,
    inline,
    table,
    none,
);
@each $type in  $display-types {
    .d-#{$type}{
        display: $type;
    }
}

$flex-properties: (
    directions: ( row, row-reverse, column, column-reverse),
    justify-content: (
        start: flex-start, 
        end: flex-end, 
        center: center, 
        between: space-between, 
        around: space-around, 
        evenly: space-evenly
    ),
    align-items: (
        start: flex-start, 
        end: flex-end, 
        center: center, 
        baseline: baseline, 
        stretch: stretch, 
    )
);
@each $property, $values in $flex-properties {
    @if $property == directions {
        @each $direction in  $values{
            .flex-#{$direction} {
                flex-direction: $direction;
            }
        }
    }
    @if $property == justify-content {
        @each $name, $value in  $values{
           .#{$property}-#{$name}{
               justify-content: $value;
           }
        }
    }
    @if $property == align-items {
        @each $name, $value in  $values{
           .#{$property}-#{$name}{
               align-items: $value;
           }
        }
    }
}