//字體大小
@each $level, $value in $font-sizes{
    .fs-#{$level}{
        font-size: $value;
    }
}
//字重
@each $name, $value in $font-weights{
    .fw-#{$name}{
        font-weight: $value;
    }
}

//行距
@each $name, $value in $line-heights{
    .lh-#{$name}{
        line-height: $value;
    }
}

//對齊
@each $name in $text-alignments{
    .text-#{$name}{
        text-align: $name;
    }
}