//colors
$color-primary: #198754;
$color-danger: #DC3545;
$color-light: #fff;
$color-gray-100: #F8F9FA;
$color-gray-400: #CED4DA;
$color-gray-600: #6C757D;
$color-gray-900: #212529;

$theme-colors: (
   primary: $color-primary,
   danger:  $color-danger,
   light:   $color-light,
   gray-100: $color-gray-100,
   gray-400: $color-gray-400,
   gray-600: $color-gray-600,
   gray-900: $color-gray-900
);

//font-size
$fs-base: 1rem;
$fs-xsm: $fs-base * 0.75;  //12px
$fs-sm: $fs-base * 0.875;  //14px
$fs-med: $fs-base * 1.25;  //20px
$fs-lg: $fs-base * 1.5;    //24px

$font-sizes: (
    1: $fs-lg, //24px
    2: $fs-med,  //20px
    3: $fs-base, //16px
    4: $fs-sm,   //14px
    5: $fs-xsm,  //12px
);

//font-weight
$fw-base: 400;
$fw-bold: 700;
$font-weights: (
   normal: $fw-base,
   bold:  $fw-bold,
);

//light-height
$lh-sm: 1.25;
$lh-base: 1.5;
$lh-l: 1.75;
$lh-lg: 2;

$line-heights: (
   sm: $lh-sm, 
   normal: $lh-base, 
   l: $lh-l, 
   lg: $lh-lg, 
);

//spacer
$spacer: 1rem; //16px
$spacers: (
  auto: auto,
  0: 0,
  1: $spacer * .25,  //4px
  2: $spacer * .5,   //8px
  3: $spacer * .75,  //12px
  4: $spacer,        //16px
  5: $spacer * 1.25, //20px
  6: $spacer * 1.5,  //24px
  7: $spacer * 1.75, //28px
  8: $spacer * 2,    //32px
  9: $spacer * 2.25, //36px
  10: $spacer * 2.5, //40px
  11: $spacer * 3,   //48px
  12: $spacer * 3.5, //56px
  13: $spacer * 4,   //64px
);

//alignments
$text-alignments: (
   left,
   right,
   center
);