
.list-group{
    border:1px solid $color-gray-400;
    &__item{
        background-color: $color-light;
        padding: 0.75rem;
        position: relative;
        &--med{
            padding: 0.75rem 1rem;
        }
        &--lg{
            padding: 1rem;
        }
    }
    &__item.active,
    &__item:hover{
        background-color: $color-gray-100;
    }
    &__item + &__item{
        border-top: 1px solid $color-gray-400;
    }
}