.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        font-size: $fs-lg;
        font-weight: bold;
    }
    &__select:focus{
       outline: none;
    }
    &__search{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}