
.pagination{
   &__list{
       display: flex;
   }
   .page-link{
       padding: 0.375em 0.75em;
       border: 1px solid $color-primary;
   }
   .page-link.pre,
   .page-link.next{
       padding: 0.375em 0.25rem;
       color: $color-primary;
   }
   .page-link.pre{
       border-radius: 2px 0px 0px 2px;
   }
    .page-link.next{
       border-radius: 0px 2px 2px 0px;
   }
   .page-link.page.active{
       background-color: $color-primary;
       color: $color-light;
   }
}